.swipeButtons {
  position: fixed;
  bottom: 3vh;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}

.left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}

.star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}

.right {
  padding: 3vw !important;
  color: #76e2b3 !important;
}

.flash {
  padding: 3vw !important;
  color: #915dd1 !important;
}